/*felx*/
/* .container {
    height: 200px;
    display: flex;
    background: greenyellow;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;
    
}
.item {
    width: 30px;
    height: 30px;
    background: green;
}
.container .item:nth-child(2n + 1){
    background: yellow;
}*/

/*Grid*/

.container {
    display:grid;
    width: 200px;
    height: 200px;
    background: greenyellow;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.item{
    background: red;
}
 .item:nth-child(2n +1){
    background: blue;
}